<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <mapping class="entity.Classroom"></mapping>
        <mapping class="entity.Department"></mapping>
        <mapping class="entity.Grade"></mapping>
        <mapping class="entity.Schedule"></mapping>
        <mapping class="entity.Student"></mapping>
        <mapping class="entity.Subject"></mapping>
        <mapping class="entity.Teacher"></mapping>
        <mapping class="dao.ClassroomDao"></mapping>
        <mapping class="dao.DepartmentDao"></mapping>
        <mapping class="dao.GradeDao"></mapping>
        <mapping class="dao.ScheduleDao"></mapping>
        <mapping class="dao.StudentDao"></mapping>
        <mapping class="dao.SubjectDao"></mapping>
        <mapping class="dao.TeacherDao"></mapping>
        <mapping class="service.HighSchoolService"></mapping>
        <mapping class="controller.Ihm"></mapping>



    </session-factory>

</hibernate-configuration>